.row {
    position: relative;
    top: 70px;
    left: 85px;
}

.a3 {
    width: 439px;
    height: 529px;
}

.a2, .a1, .a4 {
    width: 225px;
    height: 224px;
}   

.a5 {
    width: 400px;
    height: 305px;
    float: right; 
    position: relative;
    bottom: 305px;
    right: 16px;
}

.a6 {
    width: 265px; 
    height: 305px;
    position: relative;
    bottom: 305px;
    right: 40px
}